{% load i18n %}
{% load catalog_tags %}
{% load thumbnail %}

<ul class="nav">
  <li class="dropdown">
    <a href="{% url show_cart %}" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-addtocart"><span >{{ cart_i.count }}</span></i>
    </a>
    <ul class="dropdown-menu">
        <div class="cart_items_menu">
            {% if cart_i %}

                {% for item in cart_i %}
                <div class="cart_items_prod">
                    {{ item.product.name }}
                    {% thumbnail item.product.get_image.url "100x100" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                </div>

                {% endfor %}
                <div class="btn btn-primary">
                     <a href="{% url show_cart %}">Показать карзину</a>
                </div>

            {% else %}
                <p>Нет товаров в корзине</p>
            {% endif %}
        </div>
    </ul>
  </li>
</ul>


